<html>
    <style>
        .post-container{
            background-color: white; 
            margin: 16px;
            padding: 18px;
            border-radius: 5px;
            border: solid 1px black
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        async function handleDeletePost(e) {
            console.log('Deleting Post...')
            console.log(e.target.id)

            const postId = e.target.id
            const url = '/post/' + postId

            try{

            const response = await axios.delete(url)
            location.reload()
            
            } catch(err) {

                console.error(err.toString())
                alert(err.toString())

            }
        
        }

    
  // Use of Date.now() method
  var d = Date(Date.now());
  
  // Converting the number of millisecond 
  // in date string
  a = d.toString()
  
  // Printing the current date                    
  console.log("The current date is: " + a) 
  

document.getElementById("demo").innerHTML = a;

    </script>
    <body style="background-color: lightgray;">
        This will show a list of our posts

        <form class="post-container" action="/post" method="POST">

            <div>Create Post</div><br>
            <input name="title" type="text" placeholder="Post Title"><br><br>

            <textarea name="postBody" type="text" placeholder="Post Body"> </textarea><br>
        
            <button type="submit">Submit</button>

            </form>

        <div>

            <!-- Iterate through all Posts from Home-->

            <% allPosts.forEach(p => { %>

                <div class="post-container">
                <div>
                    
                    <h2><%= p.title %></h2>
                
                </div>
            <div><%= p.body %></div>
            <button id="<%= p.id %>" onclick="handleDeletePost(event)">Delete</button>

            </div>
            <% }) %>
            

        </div>

    </body>
</html>